body{
    font-family: 'Poppins', sans-serif;
}
.text-color{
    color: rgb(226, 14, 113);
}
.link{
    text-decoration: none;
    padding: 15px 25px;
    background-color: rgb(27, 173, 199);
    color: rgb(241, 234, 135);
    border-radius: 5px;
}
.sec {
    display: flex;
}
.sec div{
    width: 50%;
    padding: 10%;
}
.sec div img{
    width: 70%;
}
.sec h1{
    font-size: 50px;
}
.sec-two{
     display: flex;
     padding-left: 3%;
     padding-right: 3%;
}
.sec-two div{
    width: 30%;
    padding: 5px;
    margin: 10px;
}
footer{
    text-align: center;
    background-color: rgb(6, 6, 36);
    color: cornsilk;
}
.headline{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}
#header{
    border-left: 5px solid rebeccapurple;
    padding-left: 5px;
}